{% extends 'base.html.twig' %}

{% block title %}Home MyLoc{% endblock %}

{% block body %}
<Section class="containerGeneral">
<article class ="banniere">
<p class="titreBanniere">La communauté de bricoleurs engagés pour l'environnement !</p>
</article>
<article class="communaute">
<div class="inscription">
<h2>Louer ou proposer un outil à la location ?</h2>
<a class="boutonSite" href="/register">S'inscrire</a>
</div>
<div class="connexion">
<h2>Déjà inscrit ?</h2>
<a class="boutonSite" href="/login">Connexion</a>
</div>
</article>
</Section>
{% endblock %}
