
<nav class="navbar">
<section class="containerGeneralSite">
    <ul class="navbarUl">
    <div>
    <img src="assets/images/logoMyloc.png" alt="logo MyLoc">
    
    </div>
    <div class="navbarLiens">
      <li class="liNavbar"><a href="/items">Outils</a></li>
      <li class="liNavbar"><a href="/profile/user_account">Mon espace</a></li>
      <li class="liNavbar"><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </div> 
    </ul>
  </div>
  </section>
</nav>
