{% extends 'base.html.twig' %}

{% block title %}Create an item{% endblock %}

{% block body %}
{{form(form)}}
<h1>Prêter un objet</h1>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p>le user à récupérer automatiquement pour le propriétaire</p>

{% endblock %}